*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}



#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/sriyantha.png);
    background-size: cover;
   background-position: center; 
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

/* ---------------------about------------------ */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* --------------------------services----------------  */

#services{
    padding: 30px 0;
    background: #1a1919;
}

.skill{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skill div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skill div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.skill div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skill div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}


.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
}

.skill-list div{

    padding: 0 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skill-list img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.skill-list ul li{
    list-style: none;
}

.skill-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.imgheading{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Ubuntu Mono';
}

.progress-bar{
    background: #fff;
    width: 300px;
    height: 6px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.progress-bar div{
    height: 6px;
    border-radius: 5px;
    margin-left: -40px;
    width: 0%;
}

.progress-bar div span{
    height: 20px;
    width: 20px;
    font-size: 8px;
    border-radius: 50%;
    background: black;
    float: right;
    margin-top: -6px;
    margin-right: -50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------  programming skill bars -------------- */
/*------ java -------------*/

.java{
    animation: java 1s linear forwards;
    background: #e91e63;
}

.java span{
    border: 1px solid #e91e63;
}

@keyframes java {
    100%{
        width: 94.5%;
    }
}

/*------------python-----------*/
.python{
    animation: python 1s linear forwards;
    background: #16881d;
}
.python span{
    border: 1px solid #16881d;
    
}
@keyframes python {
    100%{
        width: 81%;
    }
}


/*------------html-----------*/
.html{
    animation: html 1s linear forwards;
    background: #0b37b9;
}
.html span{
    border: 1px solid #0b37b9;
    
}
@keyframes html {
    100%{
        width: 67.5%;
    }
}


/*------------css-----------*/
.css{
    animation: css 1s linear forwards;
    background: #e1c10b;
}
.css span{
    border: 1px solid #e1c10b;
    
}
@keyframes css {
    100%{
        width: 67.5%;
    }
}


/*------------mysql-----------*/
.mysql{
    animation: mysql 1s linear forwards;
    background: #db4b17;
}
.mysql span{
    border: 1px solid #db4b17;
    
}
@keyframes mysql {
    100%{
        width: 60.75%;
    }
}


/*------------csharp-----------*/
.csharp{
    animation: csharp 1s linear forwards;
    background: #950790;
}
.csharp span{
    border: 1px solid #950790;
    
}
@keyframes csharp {
    100%{
        width: 54%;
    }
}

/*------------c-----------*/
.c{
    animation: c 1s linear forwards;
    background: #18b08a;
}
.c span{
    border: 1px solid #18b08a;
    
}
@keyframes c {
    100%{
        width: 40.5%;
    }
}


/*------------javascript-----------*/
.javascript{
    animation: javascript 1s linear forwards;
    background: #ea0994;
}
.javascript span{
    border: 1px solid #ea0994;
    
}
@keyframes javascript {
    100%{
        width: 40.5%;
    }
}



/* ---------------  software design skill bars -------------- */
/*------ uml diagram -------------*/

.uml{
    animation: uml 1s linear forwards;
    background: #e91e63;
}

.uml span{
    border: 1px solid #e91e63;
}

@keyframes uml {
    100%{
        width: 108%;
    }
}

/*------------wireframe-----------*/
.wireframe{
    animation: wireframe 1s linear forwards;
    background: #16881d;
}
.wireframe span{
    border: 1px solid #16881d;
    
}
@keyframes wireframe {
    100%{
        width: 135%;
    }
}


/*------------ui-----------*/
.ui{
    animation: ui 1s linear forwards;
    background: #0b37b9;
}
.ui span{
    border: 1px solid #0b37b9;
    
}
@keyframes ui {
    100%{
        width: 108%;
    }
}


/*------------figma-----------*/
.figma{
    animation: figma 1s linear forwards;
    background: #e1c10b;
}
.figma span{
    border: 1px solid #e1c10b;
    
}
@keyframes figma {
    100%{
        width: 67.5%;
    }
}



/* ---------------  personal skill bars -------------- */
/*------ team work -------------*/

.teamwork{
    animation: teamwork 1s linear forwards;
    background: #e91e63;
}

.teamwork span{
    border: 1px solid #e91e63;
}

@keyframes teamwork {
    100%{
        width: 108%;
    }
}

/*------------communication-----------*/
.communication{
    animation: communication 1s linear forwards;
    background: #16881d;
}
.communication span{
    border: 1px solid #16881d;
    
}
@keyframes communication {
    100%{
        width: 94.5%;
    }
}


/*------------patience-----------*/
.patience{
    animation: patience 1s linear forwards;
    background: #0b37b9;
}
.patience span{
    border: 1px solid #0b37b9;
    
}
@keyframes patience {
    100%{
        width: 121.5%;
    }
}


/*------------problem solving-----------*/
.problemsolving{
    animation: problemsolving 1s linear forwards;
    background: #e1c10b;
}
.problemsolving span{
    border: 1px solid #e1c10b;
    
}
@keyframes problemsolving {
    100%{
        width: 94.5%;
    }
}


/*------------fast learning-----------*/
.fastlearning{
    animation: fastlearning 1s linear forwards;
    background: #db4b17;
}
.fastlearning span{
    border: 1px solid #db4b17;
    
}
@keyframes fastlearning {
    100%{
        width: 121.5%;
    }
}


/*------------flexibility-----------*/
.flexibility{
    animation: flexibility 1s linear forwards;
    background: #950790;
}
.flexibility span{
    border: 1px solid #950790;
    
}
@keyframes flexibility {
    100%{
        width: 135%;
    }
}

/*------------dedication-----------*/
.dedication{
    animation: dedication 1s linear forwards;
    background: #18b08a;
}
.dedication span{
    border: 1px solid #18b08a;
    
}
@keyframes dedication {
    100%{
        width: 135%;
    }
}


/*------------time management-----------*/
.timemanagement{
    animation: timemanagement 1s linear forwards;
    background: #ea0994;
}
.timemanagement span{
    border: 1px solid #ea0994;
    
}
@keyframes timemanagement {
    100%{
        width: 94.5%;
    }
}

/*------------------------portfolio---------------------*/
#portfolio{
    padding:50px 0;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 300px;
    border-radius:10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px ;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}


.btn{
    display: block;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 50px;
    border: 1px solid #ff004f;
    font-size: 25px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/*----------------------Contacts-------------------*/

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
    font-size: 20px;
}


.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

#copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}


/*------------css for small screen--------------*/
nav .fa-solid{
    display: none;
}


@media only screen and (max-width:600px){
    #header{
        background-image: url(images/phonesriyantha.jpg);
    }

    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top:50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left:25px;
        cursor:pointer ;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}